<p id="notice"><%= notice %></p>

<h1>Listing Tags</h1>

<table>
  <thead>
    <tr>
      <th>Listing</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing_tags.each do |listing_tag| %>
      <tr>
        <td><%= listing_tag.listing_id %></td>
        <td><%= listing_tag.tag_id %></td>
        <td><%= link_to 'Show', listing_tag %></td>
        <td><%= link_to 'Edit', edit_listing_tag_path(listing_tag) %></td>
        <td><%= link_to 'Destroy', listing_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing Tag', new_listing_tag_path %>
