<!DOCTYPE html>
<html>
  <head>
    <title>Pairbnbv2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  </head>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_url %></li>
    <% if signed_in? %>
    <li><%= link_to 'Your Listing', user_listings_url(current_user.id) %></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <% if current_user.avatars[0].nil? == false%>
    <li><div><%= image_tag(current_user.avatars[0].url, size:"60")%></div></li>
      <%end%>
    <% end %>
    <% if signed_in? %>
    <li><div style="padding-top:15px; padding-left:10px;">Signed in as: <%= current_user.email %></div></li>
    <li><div style="padding-top:10px; padding-left:10px;"><%= button_to 'Sign out', sign_out_path, method: :delete %></div></li>
    <% else %>
    <li><%= link_to 'Sign in', sign_in_path %></li>
    <% end %>
      </ul>
    </div>
  </div>
  </nav>

  <body style="padding-left:20px; padding-right:20px">

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
