<!DOCTYPE html>
<html>
  <head>
    <title>Pairbnbv2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  </head>

  <nav class="navbar navbar-default" role="navigation">
  <div class="container">

      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
      </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_url %></li>
    <% if signed_in? %>
    <li><%= link_to 'Your Listing', user_listings_url(current_user.id) %></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">

    <li><div>
<% if current_user.avatars[0].nil? %>
<%= image_tag('no-profile-img', size:'60')%>
<% else %>
<%= image_tag(current_user.avatars[0].url, size:'60')%>
<% end %>
    </div></li>

    <% end %>
    <% if signed_in? %>
    <li><div style="padding-top:15px; padding-left:10px;">Signed in as: <%= current_user.email %></div></li>
    <li><div style="padding-top:15px; padding-left:10px;"><%= link_to 'Profile', edit_user_path(current_user.id) %></div></li>
    <li><div style="padding-top:10px; padding-left:10px;"><%= button_to 'Sign out', sign_out_path, method: :delete %></div></li>
    <% else %>
    <li><%= link_to 'Sign in', sign_in_path %></li>
    <% end %>
      </ul>
    </div>
  </div>
  </nav>

  <body style="padding-left:20px; padding-right:20px">

  
    <div id="flash">

      <% flash.each do |key, value| %>
           <div class="alert alert-success" role="alert"> 
        <div class="flash <%= key %>"><%= value %></div>
        </div>
      <% end %>
    </div>


    <%= yield %>

  </body>
</html>
